.new-note {
    border: 1px solid black;
    width: 75%;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
}

.form-group, .button-group, h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 30px 15px;
}

.form-group {
    margin-bottom: 50px;
}

label {
    padding: 10px;
    text-align: center;
}

.note-content-container {
    height: 300px;
}

.note-name {
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
}

textarea {
    height: 50px;
}

.note-folder {
    height: 30px;
    width: 200px;
    font-size: 18px;
}

.errorMessage {
    color: red;
    padding: 10px;
    margin: 10px;
}

.button-group {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

button {
    height: 100%;
    width: 100px;
    border-radius: 6px;
}