.App {
  text-align: center;
}

.main-route, .folder-route, .note-route {
  display: flex;
}

.folder-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  border: 1px solid black;
  padding: 10px;
}

.note-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 75%;
  border: 1px solid black;
  padding: 10px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  width: 90%;
}

.folder, .add-folder {
  border: 1px solid black;
  height: 50px;
  width: 100%;
  align-self: center;
}

.note {
  border: 1px solid black;
  padding: 20px;
  width: 70%;
  align-self: center;
  margin-bottom: 20px;
}

.notes {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.note-content {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.note-content > p {
  margin-top: 60px;
}

.modify-group {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.modify-group > a {
  margin: auto;
}

